
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Header Section Styles */

header {
    display: flex;
    background-color: beige;
}

.right-links {
    list-style: none;
    display: flex;
}

.logo {
    width: 150px;
    height: auto;
}